body {
    display: flex;
    font-family: Arial, sans-serif;
    /* background-color: #FBAB7E; */
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

    /* background: white; */
    /*background-size: 100% 100%;*/
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
}



.container {
    display: flex;
    width: 100%;
  }


.background-div {
      width: 90px; /* Adjust size according to the icon size */
      height: 90px; /* Adjust size according to the icon size */
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
    }
.background-div i {
  font-size: 40px; /* Adjust font size as needed */
}

section{
    /* border: 2px solid black; */
    /* display: inline-block; */
    position:absolute;
    background-color: hsl(75, 49%, 47%);
    align-items: center; /* Center items vertically */
    margin: 0 auto; /* Center the section horizontally */
    gap: 10px; /* Add a gap of 10px between the items **/
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: transparent;
    padding: 10px;
    gap: 10px;
    z-index : 4;
    max-width: 100%;
  }

.grid-photos{
    display: grid;
    grid-template-rows: auto auto;
    border-radius: 8%;
}


.message {
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 20px;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: solid black;
    margin-right: 10px;

}

#message{
    padding: 10px;
    background-image: radial-gradient( circle 369px at -2.9% 12.9%,  rgba(247,234,163,1) 0%, rgba(236,180,238,0.56) 46.4%, rgba(163,203,247,1) 100.7% );
}
.slideshow {
    flex:5;
    text-align: center;
    /* border: solid red; */
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 95%; 
    height: 500px;  
    margin: auto;
    overflow: hidden;
    

    /* flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
    position: relative;
    height: 400px;
    max-width: 100%; */
    
}

.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-fit: contain;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10%;
}
 

.slideshow img.active {
    display:block;
}

article{
    display: flex;
    max-width: 100%;
    /* border: solid black; */
    font-size: medium;
    padding-bottom: 10px;
}



/* Style for large screens */
@media screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    /* Add your styles for large screens here */
}

/* Style for medium screens */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    body {
        font-size: 16px;
    }
    /* Add your styles for medium screens here */
}

/* Style for small screens */
@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    /* Add your styles for small screens here */
}

/* Media query for iPhone and small screens */
@media (max-width: 600px) {
    body {
        flex-direction: column;
        padding: 10px;
        font-size: smaller;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    #slideshow {
        width: 100%;
        padding: 10px;
    }

    .grid-container {
        display: grid;
        grid-template-rows: 40% 60%;
        background-color: transparent;
        padding: 10px;
        gap: 10px;
        z-index : 4;
        max-width: 100%;
        overflow-y: scroll;
      }
}

/*.top-half {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        border: 2px solid black; /
}*/





.fa-3x , .background-container{
    color: red;
    z-index : 1;
}

.fa-solid fa-heart{
    color:red;
}


.background-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it is behind other elements */
    pointer-events: none; /* Make it non-interactive */
}


.navigation {
    text-align: center;
    margin-top: 10px;
}

.navigation button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}



